html,body {
	height: 100%;
}

#__blaze-root {
	height: 100%;
	overflow: scroll;

	>.container-fluid {
		height: 100%;

		>.row {
			height: 100%;
		}
	}
}

.sidebar-container {
	background: #383836;
	color: #fff;
	padding: 20px;
	min-height: 100%;
	overflow-x: hidden;
	letter-spacing: 1px;
	border-right: 4px solid #777;
  position: fixed;

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px 0px 5px 15px;

		li {

			a {
				color: #eee;

				&:hover {
					text-decoration: none;
				}
			}

		}
	}
}

.content-container {
	padding: 20px;

	.details-page {
		/* The analyzed results page */
		
		.analyzed-field-row {
			
			&:hover {
				// hmm
				//background: #223242;
			}
			&.zebra {
				// hmm
				//background: #223242;
			}
			
			.key-container {
				padding-left: 15px;
				
				.key-name {
					font-family: 'Courier New';
					border: 1px solid #bbb;
					border-width: 0px 0px 1px 1px;
					padding: 10px 15px;
					
					&.round-bl-corner {
						border-bottom-left-radius: 10px;
					}
					&.round-tl-corner {
						border-top-left-radius: 10px;
					}
				}
			}
			.type-split-bar {
				
				.progress {
					margin: 10px 0px 0px 0px;
					
					.type-undefined {
						background-color: #4e5d6c; // dark grey
					}
					.type-string {
						background-color: #df691a; // orange
					}
					.type-boolean {
						background-color: #5cb85c; // green
					}
					.type-object {
						background-color: #5bc0de; // blue
					}
					.type-number {
						background-color: #d9534f; // red
					}
					
				}
			}
		}
	}

}
.analysis-view {
  padding: 20px;
}

#runQuery {
  font-size: 26px;
}
#runQuery .collectionName {
  cursor: pointer;
}
#runQuery span {
  cursor: default;
  color: darkgrey;
}

.queryHelper {
  width: 50%;
  float: left;
}
input#query, input#params{
  width: 300px;
  -webkit-appearance: none;
  border: none;
  color: white;
  background-color: #2b3e50;
}
input#query:focus{
//      outline: 0;
}

.progress-bar {
  cursor: pointer;
}
.documentRow pre{
  border-radius: 5px;
}
