html,body {
	height: 100%;
}

#__blaze-root {
	height: 100%;
	overflow: scroll;

	>.container-fluid {
		height: 100%;

		>.row {
			height: 100%;
		}
	}
}

.sidebar-container {
	background: #383836;
	color: #fff;
	padding: 20px;
	min-height: 100%;
	overflow-x: hidden;
	letter-spacing: 1px;
	border-right: 4px solid #777;

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px 0px 5px 15px;

		li {

			a {
				color: #eee;

				&:hover {
					text-decoration: none;
				}
			}

		}
	}
}

.content-container {
	padding: 20px;

	.details-page {
		/* The analyzed results page */
		
		.analyzed-field-row {
			
			.key-container {
				padding-left: 15px;
				
				.key-name {
					font-family: 'Courier New';
					border: 1px solid #bbb;
					border-width: 0px 0px 1px 1px;
					padding: 5px 15px;
				}
			}
			.type-split-bar {
				
				.progress {
					margin-bottom: 0px;
					
					.type-string {
						background-color: blue;
					}
					.type-boolean {
						background-color: green;
					}
					.type-object {
						background-color: yellow;
					}
					.type-number {
						background-color: red;
					}
					
				}
			}
		}
	}

}

