html,body {
	height: 100%;
}

#__blaze-root {
	height: 100%;
	overflow: scroll;
	
	>.container-fluid {
		height: 100%;
		
		>.row {
			height: 100%;
		}
	}
}

.sidebar-container {
	background: #383836;
	color: #fff;
	padding: 20px;
	min-height: 100%;
}

.content-container {
	padding: 20px;
}

