<template name="collectionsList">
	<em>Please choose a collection on the left</em>
</template>




<template name="collectionDetail">
	<h3>Collection Analysis: {{ collectionName }}</h3>
	
	{{#each fields}}
		<div class='depth-{{ depth }} field-row'>
			
			<span>{{ key }}: {{ val.count }}</span>
			<div class='percbar'>
				<div class='progress'>
					<div class='progress-bar' style="width: {{perc}}%">
						<span class="sr-only">{{perc}}% Complete</span>
					</div>
				</div>
			</div>
			
		</div>
	{{/each}}
	
</template>

<template name="displayNode">
	{{#each fields}}
		
	{{/each}}
</template>







<template name="collectionDocs">
	<div class='pull-right'>
		<a href='/{{ collectionName }}/details' class='btn btn-primary'>Re-Analyze</a>
	</div>
	
	<h3>Documents: {{ collectionName }}</h3>
	
	<table class='table table-striped'>
		<thead>
			<tr>
				<th>foo</th>
				<th>bar</th>
				<th>baz</th>
			</tr>
		</thead>
		<tbody>
			{{#each collectionDocs }}
				{{> collectionDocRow }}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="collectionDocRow">
	<tr>
		<td>{{ foo }}</td>
		<td>{{ bar }}</td>
		<td>{{ baz }}</td>
	</tr>
</template>

<template name="documentDetail">
	This is a particular document
</template>

