<template name="collectionsList">
	<em>Please choose a collection on the left</em>
</template>




<template name="collectionDetail">
	<div class='details-page'>
		
		<h3>Collection Analysis: {{ collectionName }}</h3>
		
		{{#each fields}}
			{{> fieldNode }}
		{{/each}}
		
	</div>
</template>

<template name="fieldNode">
	<div class="analyzed-field-row row">
		
		<div class='col-md-4 key-container'>
			<div class='key-name'>{{ key }}</div>
		</div>
		
		<div class='col-md-8 type-split-bar'>
			<div class='progress'>
				<div class='progress-bar progress-bar-success' style='width:45%'>45%</div>
				<div class='progress-bar progress-bar-warning' style='width:27%'>27%</div>
			</div>
		</div>
		
	</div>
</template>







<template name="collectionDocs">
	<div class='pull-right'>
		<a href='/{{ collectionName }}/details' class='btn btn-primary'>Re-Analyze</a>
	</div>
	
	<h3>Documents: {{ collectionName }}</h3>
	
	<table class='table table-striped'>
		<thead>
			<tr>
				<th>foo</th>
				<th>bar</th>
				<th>baz</th>
			</tr>
		</thead>
		<tbody>
			{{#each collectionDocs }}
				{{> collectionDocRow }}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="collectionDocRow">
	<tr>
		<td>{{ foo }}</td>
		<td>{{ bar }}</td>
		<td>{{ baz }}</td>
	</tr>
</template>

<template name="documentDetail">
	This is a particular document
</template>

