<template name="collectionsList">
	This is the collection list
</template>

<template name="collectionDetail">
	<h3>{{ collectionName }} analyzation</h3>
	
	This is where the results go
</template>

<template name="collectionDocs">
	<h3>{{ collectionName }} documents</h3>
	
	<table class='table table-striped'>
		<thead>
			<tr>
				<th>foo</th>
				<th>bar</th>
				<th>baz</th>
			</tr>
		</thead>
		<tbody>
			{{#each collectionDocs }}
				{{> collectionDocRow }}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="collectionDocRow">
	<tr>
		<td>{{ foo }}</td>
		<td>{{ bar }}</td>
		<td>{{ baz }}</td>
	</tr>
</template>

<template name="documentDetail">
	This is a particular document
</template>

